@charset "utf-8";
/* CSS Document */

/*초기화*/
* { margin:0; padding:0;}
img { border:0;}
li { list-style:none;}
a { text-decoration:none; color:#666666;}
body { font-family:Arial, Helvetica, sans-serif;}

/*layout*/
#header {
	width:970px; height:107px;
	margin:0 auto;
	position:relative;
}
/*layout*/
#container {
	width:1000px; height:1447px;
	margin:0 auto;
}
#footer_bg {
	width:100%; height:80px;
	margin-top:50px;
}

/*header*/
#header #logo {
	width:122px; height:29px;
	background-image:url(../images/on_and_on_10.jpg);
	position:absolute;
	left:0; bottom:30px;
}
#header nav .lnb {
	overflow:hidden;
	position:absolute;
	right:0; top:20px;
}
#header nav .lnb li {
	float:left;
}
#header nav .lnb li a {
	display:block;
	padding:0 5px;
	font-size:12px;
}
#header nav .lnb li a:hover{
	color:#FF0000;
}
#header nav .gnb {
	overflow:hidden;
	position:absolute;
	bottom:30px; right:0px;
}
#header nav .gnb li {
	float:left;
}
#header nav .gnb li a {
	display:block;
	padding-left:20px;
	font-size:14px;
}
#header nav .gnb li a:hover{
	color:#FF00FF;
}
.red_txt a{color:red;}
.pink_txt a{color:pink;}

/*container*/
#container #content01 {
	width:970px; height:578px;
	margin-bottom:10px;
}

#container #content02 {
	width:970px; height:189px;
	margin-bottom:10px;
	
}
#container #content03 {
	width:970px; height:578px;
	
}

/*content01*/
#content01 .big_left {
	width:480px; height:578px;
	float:left;
	margin-right:10px;
}
#content01 .big_right {
	width:480px; height:578px;
	float:left;
}
#content01 .big_right .right_box01 {
	width:235px; height:186px;
	background-color:#FFFF00;
	float:left;
	margin-right:10px;
}
#content01 .big_right .right_box02 {
	width:235px; height:186px;
	float:left;
}
#content01 .big_right .right_box03 {
	width:479px; height:186px;
	float:left;
	margin:10px 0px;
}
#content01 .big_right .right_box04 {
	width:479px; height:186px;
	float:left;
}

/*content01*/
#content02 .center_box01 {
	width:480px; height:189px;
	float:left;
	margin-right:10px;
}
#content02 .center_box02 {
	width:235px; height:189px;
	float:left;
	margin-right:10px;
}
#content02 .center_box03 {
	width:235px; height:189px;
	float:left;
}
/*content03*/
#content03 .bottom_left {
	width:480px; height:578px;
	float:left;
	margin-right:10px;
}
#content03 .bottom_left .bottom_left_box01 {
	width:235px; height:186px;
	float:left;
	margin-bottom:10px;
}
#content03 .bottom_left .bottom_left_box02 {
	width:235px; height:382px;
	float:right;
}
#content03 .bottom_left .bottom_left_box03 {
	width:235px; height:186px;
	float:left;
}
#content03 .bottom_left .bottom_left_box04 {
	width:479px; height:186px;
	float:left;
	margin-top:10px;
}
#content03 .bottom_right {
	width:480px; height:578px;
	float:left;
	background-color:red;
}

/*footer*/
#footer {
	width:970px; height:80px;
	margin:0 auto;
}
#footer .footer_menu { 
	overflow:hidden;
	float:left;
	margin-right:50px;
}
#footer .footer_menu li {
	float:left;
	font-size:12px;
	margin-top:30px;
}
#footer .footer_menu li a {
	display:block;
	padding:0 5px;
	border-right:1px solid black;
	line-height:10px;
}
#footer .footer_menu li:last-child a {
	border:none;
}
#footer .copyright {
	overflow:hidden;
	float:left;
}
#footer .copyright li {
	float:left;
	font-size:12px;
	color:#666666;
	border-right:1px solid #000;
	padding:0 10px;
	line-height:10px;
	margin-top:30px;
}
#footer .selection {
	float:right;
	margin-top:23px;
}
#footer .selection select {
	width:150px;
}