@charset "utf-8";
/* CSS Document */

#wrap { width: 100%; height: 100% }
#gnb_bg { width: 100%; height: 32px; background-color: #797979;  }
#header_bg { width: 100%; height: 109px; }
#nav_bg { width: 100%; height: 56px; ; }
#main_bg { width: 100%; ; }
#footer_bg { width: 100%; height: 200px; margin: 0 auto; }
#gng{ width: 944px; height: 32px; background-color: #797979; margin: 0 auto; overflow: hidden;}
#header{ width: 944px; height: 109px;  margin: 0 auto; position: relative;}
#nav{ width: 944px; height: 56px; margin: 0 auto; border-top: 5px solid #000; }
#main{ width: 944px;  margin: 0 auto;}
.footer{ width: 944px; height: 200px; margin: 0 auto; border-top: 3px solid black}

/*gng*/
#gng h6 { float: left; margin-top: 9px; }
#gng h6 a { color:#fff; }
#gng h6 a:hover { color: #ff3300; }
#gng h6 span { width: 20px; height: 10px; display: inline-block; background:url(../images/icons.png) -345px 2px no-repeat;)}
#gng ul { float: right;}
#gng ul li { float: left; font-size: 10px;  margin-top: 9px; }
#gng ul li a { padding: 0 9px; color:#fff; }
#gng ul li a:hover { color: #ff3300; }
#gng ul li span { width: 15px; height: 10px; display: inline-block; background:url(../images/icons.png); }
#gng ul li:nth-child(3) span{ background-position: -300px 0; position:relative; top: 2px;}
#gng ul li:nth-child(4) span{ background-position: -200px 0; position:relative; top: 2px;}
#gng ul li:nth-child(6) span{ background-position: -250px 0; position:relative; top: 2px;}
/*이미지를 표현하는 방법

1. html 태그를 통해서 표현하는 방법(의미가 있는 이미지) (alt:대체텍스트)
2. css속성을 통해서 표현하는 방법 (의미가 없는 이미지)
3. 이미지 스프라이트 방법 (일종의 아이콘에 많이 쓰인다.)

*/

/*header*/
#header .menu { width: 300px; height: 35px; position: absolute; top:52px; left:0;}
#header .menu ul {}
#header .menu ul li { float: left; }
#header .menu ul li a { padding: 0 10px; border-right: 1px solid black; line-height: 9px; display: block;}
#header .menu ul li:first-child a { padding-left:0; margin-left: }
#header .menu ul li:last-child a {border:0;}
#header .menu ul li a:hover {color:#3366ff;}

#header .logo { width: 190px; height: 35px; font-size:30px;
	font-family:"Times New Roman", Times,serifi; position: absolute; top:35px; left: 410px;}

#header .search { width: 200px; height: 45px;  position: absolute; top: 35px; right: 0; }
#header .search .search_box { width: 164px; height: 36px; position: absolute; top:0; left: 0; border: 1px solid black; box-sizing: border-box;}
#header .search button { width:36px; height:36px; background-image:url(../images/icon_search.png); background-size:80% 80%;
	background-repeat:no-repeat; background-position:center; text-indent:-10000px; position:absolute; top:0; right:0; border:0;}

/*menu*/
#nav ul {width: 900px; margin:0 auto; margin-top: 20px; overflow: hidden;}
#nav ul li { float: left;}
#nav ul li a { padding: 0px 22px; display:block; font-weight: bold;}
#nav ul li a:hover { color:#3366ff; }

/*main*/
.main_banner_area { width: 944px; height: 456px; }
.main_banner_area .main_left { width: 624px; height: 456px; margin-right: 16px; float: left;}

.main_banner_area .main_right {width: 304px; height: 456px;  float: left;}
.main_right .feature_item { width: 304px; height: 304px; margin-bottom: 16px; }

.main_right .feature_item h3 {text-align:center; text-transform: uppercase; line-height: 2.3em; font-size:1.5em;}
.main_right .feature_item .feature_img { text-align: center; margin: 10px 0;}

.main_right .main_event {width: 304px; height: 136px; background: url(../images/main_event.png) no-repeat;}

/*txt*/
.txt { text-align: center;}
.txt ul {}
.txt ul li { margin-bottom: 3px;}
.txt ul li:first-child { font-weight: bold;}
.txt ul li span.money { font-weight: bold; margin-right: 8px;}
.txt ul li span.cancel { text-decoration: line-through;}

/*title*/
.title { width:944px; height: 49px;  text-align: center; border-top: 3px solid black;}
.title h2 { font-size: 2em; letter-spacing: 5px; margin-top: 10px;}

/*special_picks_box*/
.special_picks_box { width: 944px; height: 410px; margin-top: 50px; }
.special_picks_box .picks_menu { width: 944px; height: 45px; border-top:2px dotted black; }
.special_picks_box .picks_menu ul { width: 944px; height: 45px; border-top: 2px dotted black;}
.special_picks_box .picks_menu ul li { float: left; padding: 0 15px;}
.special_picks_box .picks_menu ul li:first-child {margin-left: 250px;}
.special_picks_box .picks_menu ul li a {display: block; padding-top: 12px;}
.special_picks_box .picks_menu ul li a:hover {color: #3333ff; border-top: 2px solid #000; position: relative; top:-2px;}

/*picks_box*/
.special_picks_box .picks_box{
	width: 944px; height: 316px;
}
.picks_box01{
	width: 236px; height: 316px;
	float: left;
}

.picks_img{
	text-align: center;
	margin: 15px 0;
}
.picks_icon{
	width: 50px; height: 16px;
	background-image: url(../images/icons.png);
	margin-left: 45%;
	margin-bottom: 5px;
}
.icon02 {background-position: -50px 0;}
.icon04 {background-position: -150px 0;}

/*magazine*/
.magazine { width: 944px; height: 122px; margin-top: 50px; }


/*bramd_focus_box*/
.brand_focus_box { width: 944px; height: 353px;  margin-top: 50px; }
.brand_focus_box .product { width: 944px; height: 304px;  }
.brand_focus_box .product ul {overflow: hidden;}
.brand_focus_box .product ul li {float: left; margin-right: 16px;}
.brand_focus_box .product ul li:last-child {margin: 0}

/*best_contents_box*/
.best_contents_box { width: 944px; height: 337px; margin-top: 50px; }
.best_contents { width: 944px; height: 288px;}
.best_contents_box .best_menu { width: 176px; height: 288px; float: left; }
.best_contents_box .best_menu ul li { list-style: none; }
.best_contents_box .best_menu ul li a { display: block; width: 176px; height: 72px;}
.best_contents_box .best_menu ul li:nth-child(1) a { background-image: url(../images/best_menu01.jpg);}
.best_contents_box .best_menu ul li:nth-child(2) a { background-image: url(../images/best_menu02.jpg);}
.best_contents_box .best_menu ul li:nth-child(3) a { background-image: url(../images/best_menu03.jpg);}
.best_contents_box .best_menu ul li:nth-child(4) a { background-image: url(../images/best_menu04.jpg);}
.best_contents_box .best_menu ul li:nth-child(1) a:hover { background-image: url(../images/best_menu01_r.jpg);}
.best_contents_box .best_menu ul li:nth-child(2) a:hover { background-image: url(../images/best_menu02_r.jpg);}
.best_contents_box .best_menu ul li:nth-child(3) a:hover { background-image: url(../images/best_menu03_r.jpg);}
.best_contents_box .best_menu ul li:nth-child(4) a:hover { background-image: url(../images/best_menu04_r.jpg);}
.best_contents_box #iframe{ width: 768px; height: 288px; float: left; background-image: url(http://www.naver.co.kr);}

/*tap_box*/
.tap_box {width: 944px; height: 285px; margin-top: 50px; margin-bottom: 100px;}
.tap_box .product ul {overflow: hidden; }
.tap_box .product ul li { width: 288px; height: 196px; float: left; margin: 20px 13px;}/* 가로 정렬 */

/*footer*/
.section { width: 314px; height: 135px; float: left;  }
.section ul { border-right: 1px dotted  #A4A4A4; margin: 15px;}
.section:nth-child(3) ul { border-right:none; border-bottom: 1px dotted #A4a4a4}
.section ul li { font-size: 0.9em; margin-bottom: 6px }
.section ul li span { font-size: 1.2em; font-weight: bold;}
.section ul li strong { font-size: 1.7em; }
.section ul .outlet{ border-bottom: 1px dotted #333; border-right: 0 }