@charset "utf-8";
/* CSS Document */
*{ 
	margin: 0 auto; padding: 0

}
#wrap{
	width:100%;
	color: white;
}
header{
	width: 1191px;
	height: 188px;
	margin:0 auto;
}
section{
	width: 1191px;
	height: 980px;
	margin:0 auto;
}
footer{
	width: 1191px;
	height: 90px;
	margin:0 auto;
	position: relative;
}
#head{
	width: 780px;
	height: 88px;
	margin: 0 auto;
	padding-top: 50px;
}
#head ul{ width: 780px; height:38px; }
#head ul li{ float: left; }
#head ul li a{ float: left;	margin-right: 105px; font-size: 30px; color: white; }
#head ul li:nth-child(4) a{	margin-right: 0px; color: #79b93c; }
#head ul li a:hover{ color: #79b93c; font-weight: 800; letter-spacing:-0.9px }
#head ul li:nth-child(2) a:hover{ color: #79b93c; font-weight: 800;	letter-spacing:-0.85px }
#head ul li:nth-child(3) a:hover{ color: #79b93c; font-weight: 800;	letter-spacing:-1px }

.title h5{ font-size: 20px; font-weight: bold; margin-left: 20px; float: left;}
.title h6 { font-size: 15px; float: left;  font-weight: 400; float: left;margin-left: 10px; margin-top: 6px;}
.title b{ color: #79b93c; }

.comment_box { width: 1150px; height: 200px; background-color: #bbbbbb; float: left; margin-left: 20px; margin-top: 15px; }
.comment_box .profile_box {width: 85px; height: 100px; background:url(../../img/contact/profile.png) no-repeat; float: left; margin-left: 22px; margin-top: 20px; margin-right: 23px;  }
.comment_box .comment { width: 890px; height: 100px; background-color: #000; float: left; margin-top: 20px; }
.comment_box .comment textarea{ width: 600px; height: 90px;background:none;border:none; color: white; font-weight: bold;  font-size: 20px; margin-left: 10px;margin-top: 10px; outline: none;  }
.comment_box .button input{ width: 100px; height: 100px; margin-left: 15px; margin-top: 20px }
.comment_box p { margin-left: 130px; margin-top: 23px; color: black; font-weight: bold; font-size: 15px  }


#footer{ width: 780px; height: 80px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center;}
#footer span { font-size: 15px; color: white; margin-top: 20px; position: absolute; transform: translateX(-50%);}