@charset "utf-8";
/* CSS Document */

.bg_box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg_box .bg_m1{
	position: absolute;
	z-index: -1;
	top: 15%;
	left: 10%;
}
.bg_box .bg_m2{
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 65%;
}
.bg_box .bg_m3{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 40%;
}
.bg_box .bg_m11{
	position: absolute;
	z-index: -1;
	top: 55%;
	left: 80%;
}
.bg_box .bg_m4{
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 10%;
}
.bg_box .bg_m5{
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 50%;
}
.bg_box .bg_m6{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 80%;
}
.bg_box .bg_m7{
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 10%;
}
.bg_box .bg_m8{
	position: absolute;
	z-index: -1;
	top: 15%;
	left: 65%;
}
.bg_box .bg_m9{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 35%;
}
.bg_box .bg_m10{
	position: absolute;
	z-index: -1;
	top: 60%;
	left: 80%;
}

.bg_box .bg_m12{
	position: absolute;
	z-index: -1;
	top: 5%;
	left: 10%;
}
.bg_box .bg_m13{
	position: absolute;
	z-index: -1;
	top: 55%;
	left: 45%;
}
.bg_box .bg_m14{
	position: absolute;
	z-index: -1;
	top: 30%;
	left: 80%;
}
@media screen and (max-width:1200px){

.bg_box .bg_m1{
	top: 5%;
	left: 5%;
}
.bg_box .bg_m2{
	top: 30%;
	left: 70%;
}
.bg_box .bg_m3{
	top: 70%;
	left: 30%;
}
.bg_box .bg_m10{
	display: none;
}
.bg_box .bg_m11{
	top: 50%;
	left: 80%;
}
.bg_box .bg_m6{
	top: 60%;
	left: 70%;
}
.bg_box .bg_m8{
	top: 30%;
	left: 80%;
}

.bg_box .bg_m9{
	top: 70%;
	left: 50%;
}
.bg_box .bg_m14{
	top: 15%;
	left: 70%;
}

}
@media screen and (max-width:920px){

.bg_box .bg_m2{
	top: 40%;
	left: 80%;
}
.bg_box .bg_m3{
	top: 70%;
	left: 50%;
}
.bg_box .bg_m11{
	display: none;
}

}

@media screen and (max-width:750px){

}