@charset "utf-8";
/* CSS Document */

.bg_box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg_box .bg_m1{
	position: absolute;
	z-index: -1;
	top: 15%;
	left: 10%;
}
.bg_box .bg_m2{
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 65%;
}
.bg_box .bg_m3{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 40%;
}
.bg_box .bg_m11{
	position: absolute;
	z-index: -1;
	top: 55%;
	left: 80%;
}
.bg_box .bg_m4{
	position: absolute;
	z-index: -1;
	top: 20%;
	left: 10%;
}
.bg_box .bg_m5{
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 50%;
}
.bg_box .bg_m6{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 80%;
}
.bg_box .bg_m7{
	position: absolute;
	z-index: -1;
	top: 10%;
	left: 10%;
}
.bg_box .bg_m8{
	position: absolute;
	z-index: -1;
	top: 15%;
	left: 65%;
}
.bg_box .bg_m9{
	position: absolute;
	z-index: -1;
	top: 70%;
	left: 35%;
}
.bg_box .bg_m10{
	position: absolute;
	z-index: -1;
	top: 60%;
	left: 80%;
}

.bg_box .bg_m12{
	position: absolute;
	z-index: -1;
	top: 5%;
	left: 10%;
}
.bg_box .bg_m13{
	position: absolute;
	z-index: -1;
	top: 55%;
	left: 45%;
}
.bg_box .bg_m14{
	position: absolute;
	z-index: -1;
	top: 30%;
	left: 80%;
}
@media screen and (max-width:1200px){

.bg_box .bg_m1{
	top: 5%;
	left: 5%;
}
.bg_box .bg_m2{
	top: 30%;
	left: 70%;
}
.bg_box .bg_m3{
	top: 70%;
	left: 30%;
}
.bg_box .bg_m10{
	display: none;
}
.bg_box .bg_m11{
	top: 50%;
	left: 80%;
}
.bg_box .bg_m6{
	top: 60%;
	left: 70%;
}
.bg_box .bg_m8{
	top: 30%;
	left: 80%;
}

.bg_box .bg_m9{
	top: 70%;
	left: 50%;
}
.bg_box .bg_m14{
	top: 15%;
	left: 70%;
}

}
@media screen and (max-width:920px){

.bg_box .bg_m2{
	top: 40%;
	left: 80%;
}
.bg_box .bg_m3{
	top: 70%;
	left: 50%;
}
.bg_box .bg_m11{
	display: none;
}

}

@media screen and (max-width:750px){
.bg_box .bg_m1{
	top: 5%;
	left: 5%;
}
.bg_box .bg_m1 img{
	width: 300px;
}
.bg_box .bg_m2{
	top: 45%;
	left: 80%;
}
.bg_box .bg_m3{
	top: 85%;
	left: 45%;
}
.bg_box .bg_m3 img{
	width: 50px;
}

.bg_box .bg_m4{
	top: 25%;
	left: 5%;
}
.bg_box .bg_m4 img{
	width: 200px;
}
.bg_box .bg_m5{
	top: 5%;
	left: 65%;
}
.bg_box .bg_m5 img{
	width: 120px;
}
.bg_box .bg_m6{
	top: 90%;
	left: 70%;
}
.bg_box .bg_m6 img{
	width: 60px;
}


.bg_box .bg_m7{
	top: 5%;
	left: 5%;
}
.bg_box .bg_m7 img{
	width: 250px;
}
.bg_box .bg_m8{
	top: 50%;
	left: 75%;
}
.bg_box .bg_m8 img{
	width: 50px;
}
.bg_box .bg_m9{
	top: 85%;
	left: 10%;
}


.bg_box .bg_m12{
	top: 0%;
	left: 0%;
}
.bg_box .bg_m12 img{
	width: 250px;
}
.bg_box .bg_m13{
	top: 75%;
	left: 15%;
}
.bg_box .bg_m13 img{
	width: 150px;
}
.bg_box .bg_m14{
	top: 40%;
	left: 80%;
}
.bg_box .bg_m14 img{
	width: 100px;
}
}