/* Menu CSS
 * --------------------------------------- */
.section{
	text-align:center;

}
#menu li {
	display:inline-block;
	margin: 10px;
	color: black;
	font-weight: 500;
	font-size: 20px;

}
#menu li.active{
	color: #00c3ff;
}
#menu li a{
	text-decoration:none;
	color: black;
}
#menu li.active a:hover{
	color: #00c3ff;
}
#menu li:hover{
	color: #00c3ff;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #00c3ff;
}
#menu{
	position:fixed;
	top:0;
	right: 0;
	height: 40px;
	z-index: 70;
	padding: 0;
	margin:0;
}
#showRight{
		display: none;
	}
@media screen and (max-width:750px){
	#menu li{
		display: none;
	}
	#showRight{
		display: inline;
	}
}