@charset "utf-8";
/* CSS Document */

/*main_bg*/
#main_bg { 
	width: 100%;
	font-family:'Nanum Barun Gothic', sans-serif;
}

/*menu*/
#menu {
	position: fixed;
	width:276px;
	top: 40px;
	left: 40px;
	font-family:'Nanum Barun Gothic', sans-serif;
}
.webdesign {
	width:95%;
	height:280px;
	margin-top: 20px;
	background-color: white;
	overflow: hidden;
}
.webdesign:hover {
	overflow-y: scroll;
}
.webdesign .title{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 20px;
	height: 30px;
	padding: 20px 10px;
	color: #ccc;
	font-size: 20px;
	font-weight: 700;
}
.webdesign .title:hover{
	background-color: #00c3ff;;
	color: #fff;
}
.webdesign .title:hover>span{
	color: #fff;
	font-weight: 700;
}

.webdesign .title span{
	margin-left: 20px;
	line-height: 25px;
	font-size: 25px;
	font-weight: 400;
	color: #aaa;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #bbb;
}
::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 길이 */
  height: 20px;  /* 가로축 스크롤바 길이 */
}


/*copyright*/
.copy {
	width: 90%;
	font-family:'Nanum Barun Gothic', sans-serif;
	font-size: 9px;
	letter-spacing: 0px;
	color: #ccc;
	margin-top:50px;
	margin-left: 30px;
}


/*------------------------------------------------------*/

/*content*/
.content { 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 600px;
	margin-top: 110px;
	overflow: hidden;

}
.content .title{
	color: #555;
	font-size: 50px;
	margin-bottom: 35px;
}
.content .title b{
	color: #333;
}
.content span{
	color: #bbb;
	font-size: 25px;
	font-weight: 700;
}
.content a span{
	color: #888;
	font-size: 15px;
	font-weight: 700;
	margin-left: 40px;
	color: #00c3ff;;

}
.content p{
	color: #999;
	width: 60%;
	font-size: 15px;
	font-weight: 400;
	margin-top: 30px;
}
.work img{
	margin-top: 10px;
	clear: both;
}
.content .work img{
	border: 1px solid #ccc;
	box-shadow: 0px 10px 20px 10px #ccc
}
.portfolio_image{
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	margin: 50px;
	margin-left:30px;
}
.work .portfolio_image span{
	color: #666;
}


 @media screen and (max-width:1700px){
 	.content { 
	margin-left: 500px;
	}
}
 @media screen and (max-width:1350px){
 	.content { 
	margin-left: 350px;
	}
	.content span{
	font-size: 20px;
	}
	.content a span{
		font-size: 10px;
		font-weight: 400;
		margin-left: 20px;
	}
	.content p{
	width: 70%;
	font-size: 12px;
	font-weight: 400;
	}

	.work img{
	width: 400px;
	}
	.content .work img{
	box-shadow: 0px 5px 10px 5px #ccc
	}
	.portfolio_image{
		margin-left:10px;
	}

}