.section .title3{
	display: flex;
	align-items: flex-start;
	color: #0ef7a7;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 50px;
    line-height: 0px;
}
.section .title3 span{
    color: black;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 4px;
    margin-left: 8px;
    font-size: 30px;
}
.column {
	width: 100%;
	display: flex;
	justify-content: center;
}
.contact_form{
	width: 50%;
	display: flex;
	flex-direction:column;
	font-size: 13px;
}
.two_columns_50_50 {
	width: 100%;
}
.column1 {
	width: 50%;
	float: left;
}
.column1 .column_inner{
	padding: 0 10px 0 0;
}
.column2{
	width: 50%;
	float: left;
}
.column2 .column_inner{
	padding: 0 0 0 10px;
}
.contact_form input[type='text'] {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 15px 12px;
	border: 0;
	outline: 0;
	font-weight: 700;
	font-family:'Nanum Barun Gothic', sans-serif;
	box-sizing: border-box;
	background-color: #e5e5e5;
}

.website_field_holder{
	float: left;
}
.website_field_holder input{
	padding: 15px 12px;
	box-sizing: border-box;
}
input[type="hidden" i] {
	background-color: initial;
	cursor: default;
	padding: initial;
	border: initial;
}
::placeholder{
  color: #5a5a5a;
}
.contact_form textarea{
	width: 100%;
	margin: 0 0 20px 0;
	padding: 15px 12px;
	border: 0;
	outline: 0;
	resize: none;
	font-size: 13px;
	font-weight: 700;
	font-family:'Nanum Barun Gothic', sans-serif;
	box-sizing: border-box;
	background-color: #e5e5e5;

}
.submit_button_contact{
	text-align: right;
}
.qbutton{
	width: auto;
	height: 39px;
	margin: 0;
	border: 0;
	padding: 0 23px;
	font-weight: 700;
	font-family: 'Jua', sans-serif;
	cursor: pointer;
	outline: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
@media screen and (max-width:1200px){

.contact_form{
	width: 80%;
}

}
