@charset "utf-8";
/* CSS Document */
#background_anmation .melody01{
	position: absolute;
	z-index: -10;
	top: 30%;
	left: 10%;
	animation: grow 1s linear 0s infinite alternate;
}
#background_anmation .melody02{
	position: absolute;
	z-index: -10;
	top: 55%;
	left: 25%;
	animation: bounce .8s linear 0s infinite alternate;
}
#background_anmation .melody03{
	position: absolute;
	z-index: -10;
	top: 5%;
	left: 60%;
	animation: fade 3s linear 0s infinite alternate;
}
#background_anmation .melody04{
	position: absolute;
	z-index: -10;
	top: 5%;
	left: 90%;
    animation: bounce .5s linear 0s infinite alternate;
}
#background_anmation .melody05{
	position: absolute;
	z-index: -10;
	top: 30%;
	left: 80%;
    animation: shrink 6s linear 0s infinite alternate;
}
#background_anmation .melody06{
	position: absolute;
	z-index: -10;
	top: 60%;
	left: 90%;
	animation: shake .6s linear 0s infinite;
}
#background_anmation .melody07{
	position: absolute;
	z-index: -10;
	top: 80%;
	left: 5%;
	animation: tilt 1s linear 0s infinite alternate;
}
#background_anmation .melody08{
	position: absolute;
	z-index: -10;
	top: 80%;
	left: 70%;
	animation: grow 8s linear 0s infinite alternate;
}
#background_anmation .melody09{
	position: absolute;
	z-index: -10;
	top: 3%;
	left: 28%;
	animation: tilt 3s linear 0s infinite alternate;
}

/*BUTTON ANIMATIONS*/
@keyframes fade {
0% {
opacity: 0.2;
}
100% {
opacity: 1;
}
}


@keyframes grow {
0% {
transform: scale(1);
}
100% {
transform: scale(1.5);
}
}


@keyframes shrink {
0% {
transform: scale(1);
}
100% {
transform: scale(0.4);
}
}


@keyframes tilt {
0% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
100% {
transform: rotate(10deg) translate3d(0, 0, 0);
}
}


@keyframes shake {
0% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
25% {
transform: rotate(10deg) translate3d(0, 0, 0);
}
50% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
75% {
transform: rotate(-10deg) translate3d(0, 0, 0);
}
100% {
transform: rotate(0deg) translate3d(0, 0, 0);
}
}



@keyframes bounce {
0% {
transform: translateY(2px);
}
100% {
transform: translateY(-2px);
}
}

@keyframes fade-bg {
0% {
background: #ccc;
}
100% {
background: #EE4035;
}
}

@media screen and (max-width:750px){
#background_anmation .melody01{
	top: 20%;
}
#background_anmation .melody02{
	top: 80%;
	left: 65%;
}
#background_anmation .melody03{
	top: 15%;
	left: 60%;
}
#background_anmation .melody04{
	top: 5%;
	left: 85%;
}
#background_anmation .melody05{
	top: 85%;
	left: 88%
}
#background_anmation .melody06{
	top: 30%;
	left: 90%;
}
#background_anmation .melody07{
	top: 75%;
	left: 10%;
}
#background_anmation .melody08{
	top: 85%;
	left: 35%;
}
#background_anmation .melody09{
	top: 3%;
	left: 28%;
}
}
