@charset "utf-8";
/* CSS Document */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1150px;
    margin-top: 50px;
}

th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 15px 8px;
}
td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 25px 8px;
}
td span{
    line-height: 20px;
    margin-left: 5px;
}
